.containerAuthorProfile {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem 2rem;
}

.upperDiv {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

.username {
  font-size: 2rem;
}

.followBtn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: lightskyblue;
  border-radius: 5px;
  cursor: pointer;
}

.auhtorImg {
  width: 300px !important;
  background-color: transparent;
  border-radius: 50%;
  object-fit: contain;
}
.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailsUpper {
  display: flex;
  gap: 2rem;
}
.detailsUpper > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.lowerDiv {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.lowerDiv > h3 {
  align-self: center;
}

.blogs {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.blogImg {
  width: 100%;
  background-color: pink;
  border-radius: 10px;
}

.blogDetails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.5rem;
}

.blogContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
}

.blogTitle {
  font-size: 1.3rem;
}

.blogLowerDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.blogUserDetails {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.blogAuthorImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  object-fit: contain;
}

.blogDate {
  font-weight: 600;
}

.followerDiv:hover {
  cursor: pointer;
}
.followerDiv {
  user-select: none;
}
